<template>
  <v-card>
    <v-toolbar dark color="success">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>

      <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>

    <v-container fluid>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          required
          :append-icon="showPassword ? 'mdi-eye' : mdi - eye - off"
          hint="At Least 6 Characters"
          counter
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <div class="text-xs-center">
          <v-btn
            class="mr-4"
            @click="submit"
            color="success lighten-1"
            :disabled="!valid"
          >
            Login
            <v-icon right dark>mdi-lock-open</v-icon>
          </v-btn>
          <v-btn @click="authProvider('google')" color="primary lighten-1">
            Login With Google
            <v-icon right dark>mdi-google</v-icon>
          </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "login",
  data() {
    return {
      valid: true,
      email: "example@example.com",
      emailRules: [
        (v) => !!v || "Email is Required",
        (v) =>
          /([a-zA-Z0-9_]{1,})(@)([a-zA-Z0-9_]{2,}).([a-zA-Z0-9_]{2,})+/.test(
            v
          ) || "Email Must Be Valid",
      ],
      showPassword: false,
      password: "",
      passwordRules: [
        (v) => !!v || "Password Is Required",
        (v) => (v && v.length >= 6) || "Min 6 Character",
      ],
    };
  },
  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setAuth: "auth/set",
    }),
    submit() {
      if (this.$refs.form.validate()) {
        let formData = {
          email: this.email,
          password: this.password,
        };
        axios
          .post("/api/auth/login/", formData)
          .then((response) => {
            let { data } = response.data;
            this.setAuth(data);
            if (this.user.user.id.length > 0) {
              this.setAlert({
                status: true,
                color: "success",
                text: "Login Sukses",
              });
              this.close();
            } else {
              this.setAlert({
                status: true,
                color: "error",
                text: "Login Gagal",
              });
            }
          })
          .catch((error) => {
            let response = error.response;

            this.setAlert({
              status: true,
              color: "error",
              text: response.data.error,
            });
          });
      }
    },
    close() {
      this.$emit("closed", false);
    },
    authProvider(provider) {
      let url = "/api/auth/social/" + provider;
      axios
        .get(url)
        .then((response) => {
          let data = response.data;
          window.location.href = data.url;
        })
        .catch((error) => {
          this.setAlert({
            status: true,
            text: "login gagal",
            color: "error",
          });
        });
    },
  },
};
</script>